* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-left: 80px;
  margin-top: 60px;
  /* Vzdálenost od levého okraje */
  font-family: 'Montserrat', sans-serif, medium;
  color: black;
  background-color: #FAFAFA;
  size: 16px;
  color: #8B8B8B;

}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  top: 80px
}

.sloupec {
  display: flex;
}

h1 {
  size: 28px;
  color: #000000;
  text-align: left;
}

h2 {
  size: 28px;
  color: #000000;
}

.obsah-kancelar {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 16px;

}

p {
  top: 212px;
  width: 488px;
  height: 65px;
}

.sloupec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 calc(100% / 2);
}

.sloupec-foto {
  display: flex;
  top: 60px;
  margin-right: 664px;
  width: 426px;
  height: 354px;
}

.tlacitka button {
  margin-top: 30px;
  size: 14px;
  color: white;
  opacity: 1;
  border: none;
  border-radius: 20px;
}

.adventure {
  width: 195px;
  height: 40px;
  background-color: #407BFF;
}

.beach {

  width: 220px;
  height: 40px;
  background-color: #8B8B8B;
}

.obsah-kancelar {
  display: flex;
  font-size: 16px;
}

.frame-icon {
  display: inline-block;
  flex: 1 1 calc(100% / 3);
  border: 2px solid #407BFF1F;
  box-shadow: 0px 4px 6px #407BFF1F;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  top: 40px;
  left: 63px;
  right: 63px;
  width: 170px;
  height: 191px;
}

.frame-icon p {
  size: 13px;
  color: #8B8B8B;
  top: 100px;
  bottom: 40px;
  left: 14px;
  right: 16px;
  width: 140px;
  height: 51px;
}

.obsah-delegat .delegat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
