* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, medium;
  color: #FAFAFA;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: space-between;
}

h1 {}

h2 {}

.tlacitka {
  text-align: center;
  /* Zarovnání obsahu do středu */
}

button {
  margin: 10px;
  /* Odsazení tlačítek od sebe */
  padding: 10px 20px;
  /* Vnitřní plnění tlačítka */
  border: none;
  /* Odstranění ohraničení */
  border-radius: 5px;
  /* Zaoblené rohy */
  cursor: pointer;
  /* Ukazatel myši při najetí na tlačítko */
  font-size: 16px;
  /* Velikost písma */
}

button.adventure {
  background-color: #407BFF;
  /* Barva pozadí pro tlačítko dobrodružství */
  color: #fff;
  /* Barva textu pro tlačítko dobrodružství */
}

button.beach {
  background-color: #F0AD4E;
  /* Barva pozadí pro tlačítko pláž */
  color: #fff;
  /* Barva textu pro tlačítko pláž */
}
